@using Core
@using Client.Components

@inject IAuth AuthService;
@inject NavigationManager navMan;
@inject IGoal IGoalService;
@inject IKursus IKursusService;

@page "/"

@if (_loading)
{
    
}
else
{
    <div class="dashboard-grid">
        @if (_currentUser?.Rolle == "Elev")
        {
            <div class="dashboard-card">
                <h5 class="card-title">Velkommen til din side @_currentUser?.FirstName</h5>
                <p>Her kan du få et overblik over din vigtigste information</p>
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Kommende Skoleophold</h5>
                @if (_futureSchool != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Forløb</th>
                                <th>Skole</th>
                                <th>Start dato</th>
                                <th>Slut dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _futureSchool)
                            {
                                <tr>
                                    <td>@g.Title</td>
                                    <td>@g.SkoleNavn</td>
                                    <td>@(g.SkoleStart?.ToString("dd-MM-yyyy"))</td>
                                    <td>@(g.SkoleEnd?.ToString("dd-MM-yyyy"))</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>    
                }

            </div>  

            <div class="dashboard-card">
                <h5 class="card-title">Aktive Delmål</h5>
                @if (_needAction != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Delmål</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _needAction)
                            {
                                <tr>
                                    <td>@g.GoalTitle</td>
                                    <td>@g.Status</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>    
                }
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Kommende Kurser</h5>
                @if (_futureCourses != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Lokation</th>
                                <th>Start dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _futureCourses)
                            {
                                <tr>
                                    <td>@g.Title</td>
                                    <td>@g.Location</td>
                                    <td>@g.StartDate</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>    
                }

            </div>
        }
        
        @if (_currentUser?.Rolle == "Kok")
        {
            <div class="dashboard-card">
                <h5 class="card-title">Velkommen til din side @_currentUser?.FirstName</h5>
                <p>Tak, fordi du engagerer dig i dine elev-kollegager</p>
                <p>Her kan du se delmål, som du kan hjælpe en kollega med at få færdiggjort</p>
            </div>
            
            <div class="dashboard-card">
                <h5 class="card-title">Aktive Delmål</h5>
                @if (_inProgress != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Elev</th>
                                <th>Delmål</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _inProgress)
                            {
                                <tr>
                                    <td>@g.FullName</td>
                                    <td>@g.GoalTitle</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>    
                }
            </div>
        }
        
        else if (_currentUser?.Rolle == "Køkkenchef")
        {
            <div class="dashboard-card">
                <h5 class="card-title">Kommende Kurser</h5>
                @if (_currentCourses != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Kursus</th>
                                <th>Lokation</th>
                                <th>Start dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _currentCourses)
                            {
                                <tr>
                                    <td>@g.Title</td>
                                    <td>@g.Location</td>
                                    <td>@g.StartDate</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>    
                }
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Elever ude af huset</h5>
                @if (_outOfHouse != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Elev</th>
                                <th>Årsag</th>
                                <th>Start dato</th>
                                <th>Slut dato</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _outOfHouse)
                            {
                                <tr>
                                    <td>@g.FullName</td>
                                    <td>@g.GoalTitle</td>
                                    <td>@(g.StartDate?.ToString("dd-MM-yyyy"))</td>
                                    <td>@(g.EndDate?.ToString("dd-MM-yyyy"))</td>
                                </tr>
                            }
                            </tbody>
                        </table> 
                    </div>
                }
                
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Manglende kurser</h5>
                <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Elev</th>
                                <th>Kursus</th>
                                <th>Tilmeld elev</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _missingCourses)
                            {
                                <tr>
                                    <td>@g.FullName</td>
                                    <td>@g.GoalTitle</td>
                                    <td><button @onclick="() => OpenModal(g)" class="btn-approve">Tilmeld kursus</button></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>    
            </div>
            
            
            <div class="dashboard-card">
                <h5 class="card-title">Afventende godkendelser</h5>
                <span style="color: red">@_deleteError</span>

                @if (_missingApproval != null)
                {
                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Elev</th>
                                <th>Delmål</th>
                                <th>Godkend delmål</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var g in _missingApproval)
                            {
                                <tr>
                                    <td>@g.FullName</td>
                                    <td>@g.GoalTitle</td>
                                    <td><button @onclick="() => ConfirmGoal(g)" class="btn-approve">Godkend</button></td>
                                </tr>   
                            }
                            </tbody>
                        </table>
                    </div>    
                }
            </div>
        }
    </div>
}

<ModalDialog @ref=_kursusModal Title="Ledige kurser">
    <div class="kursus-list">
        @if (_matchingCourses.Any())
        @foreach (var kursus in _matchingCourses)
        {
            <p>@kursus.Title @kursus.Location @kursus.Participants @kursus.MaxParticipants @kursus.StartDate <button @onclick="() => TilmeldKursus(kursus)">Tilmeld kursus</button></p>
        }
        else
        {
            <p>Kurser mangler fra HR...</p>
        }
    </div>
</ModalDialog>


@code {

    //Variabel til at styre, at data er hentet før HTML vises
    private bool _loading = true;
    
    //Brugeren der er logget ind
    private BrugerLoginDTO _currentUser;

    //Elev instans variabler
    private List<GoalNeedActionDTO> _needAction; //Indeholder liste med delmål, hvor eleven mangler godkendelse
    private List<FutureSchoolDTO> _futureSchool; //Indeholder liste med kommende skoleophold
    private List<KursusKommendeDTO> _futureCourses; //Indeholder liste med tilmeldte kurser

    //Kok instans variabler
    private List<StartedGoalsDTO> _inProgress; //Indeholder liste med delmål der er startet men ikke godkendt

    //Køkkenchef instans variabler
    private List<StartedGoalsDTO> _missingApproval; //Indeholder liste med delmål der mangler godkendelse
    private List<KursusKommendeDTO> _currentCourses; //Indeholder liste med kommende kurser
    private List<KursusManglendeDTO> _missingCourses; //Indeholder liste med manglende kurser
    private List<OutOfHouseDTO> _outOfHouse; //Indeholder liste med elever der er ude af huset hvilke dage

    //Modal dialog
    private ModalDialog _kursusModal { get; set; }
    
    //Indeholder liste med kurser med samme CourseCode
    private List<KursusKommendeDTO> _matchingCourses = new();

    //Indeholder kurset man ønsker at tilmelde
    private KursusManglendeDTO? _currentMissingCourse;
    
    //Delegoalerror message
    private string _deleteError = "";

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await AuthService.GetBruger();

        if (_currentUser == null)
        {
            navMan.NavigateTo("login/");
            return;
        }

        if (_currentUser.Rolle == "HR")
        {
            navMan.NavigateTo("dashboard");
        }
        
        if (_currentUser.Rolle == "Elev")
        {
            //Henter delmål der mangler action fra kok eller leder  
            var needActionTask = IGoalService.GetNeedActionGoals(_currentUser.Id);
            var futureSchoolTask = IGoalService.GetFutureSchools(_currentUser.Id);
            var futureCoursesTask = IKursusService.GetFutureCoursesByStudentId(_currentUser.Id);
            
            await Task.WhenAll(needActionTask, futureSchoolTask, futureCoursesTask);
            
            _needAction = await needActionTask;
            _futureSchool = await futureSchoolTask;
            _futureCourses = await futureCoursesTask;

        }

        if (_currentUser.Rolle == "Kok")
        {
            _inProgress = await IGoalService.GetStartedGoals(_currentUser.HotelId);
        }

        if (_currentUser.Rolle == "Køkkenchef")
        {
            //Henter manglende godkendelser for køkkenchef
            var missingApprovalTask = IGoalService.GetAwaitingApproval(_currentUser.HotelId);
            //Henter aktuelle kurser fra HR
            var currentCoursesTask = IKursusService.GetFutureCourses();
            //Henter manglende kurser
            var missingCoursesTask = IGoalService.GetMissingCourses(_currentUser.HotelId);
            //Elever ude af huset
            var outOfHouseTask = IGoalService.GetOutOfHouse(_currentUser.HotelId);
            
            await Task.WhenAll(missingApprovalTask, currentCoursesTask, missingCoursesTask, outOfHouseTask);

            _missingApproval = await missingApprovalTask;
            _currentCourses = await currentCoursesTask;
            _missingCourses = await missingCoursesTask;
            _outOfHouse = await outOfHouseTask;
            
        }
        _loading = false;
    }

    
    private async Task ConfirmGoal(StartedGoalsDTO goalDto)
    {

        try
        {
            var success = await IGoalService.ConfirmGoal(goalDto.PlanId, goalDto.ForløbId, goalDto.GoalId);

            if (goalDto != null)
            {
                _missingApproval = _missingApproval.Where(g => g.GoalId != goalDto.GoalId).ToList();
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            _deleteError = e.Message;
        }
    }
    
    
    private async Task TilmeldKursus(KursusKommendeDTO kursus)
    {
        var userDto = new KursusDeltagerListeDTO
        {
            Id = _currentMissingCourse.Id,       
            Navn = _currentMissingCourse.FullName,  
            Hotel = _currentMissingCourse.Hotel     
        };

        await IKursusService.AddStudentToCourse(userDto, kursus.KursusId);
        _kursusModal.Close();
        _missingCourses = _missingCourses.Where(k => k.GoalId != _currentMissingCourse.GoalId).ToList();
        _outOfHouse = await IGoalService.GetOutOfHouse(_currentUser.HotelId);
        StateHasChanged();
        
    }

    private async Task OpenModal(KursusManglendeDTO kursusManglendeDto)
    {
        _currentMissingCourse = kursusManglendeDto;
        _matchingCourses = _currentCourses.Where(k => k.CourseCode == kursusManglendeDto.CourseCode).ToList();
        _kursusModal.Open();
    }
}
    