@using Core
@using Client.Components

@inject IAuth AuthService;
@inject NavigationManager navMan;
@inject IGoal IGoalService;
@inject IKursus IKursusService;

@page "/"

@if (_loading)
{
    
}
else
{
    <h3 class="page-title">Oversigt</h3>
    <div class="dashboard-grid">
        @if (_currentUser?.Rolle == "Elev")
        {
            <div class="dashboard-card">
                <h5 class="card-title">Velkomst Boks</h5>
                <p>Velkommen til din side @_currentUser?.FirstName</p>
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Kommende Skoleophold</h5>
                @if (_futureSchool != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _futureSchool)
                        {
                            <li style="cursor: pointer">
                            <li style="cursor: pointer">
                                Delmål: @g.Title
                                @(g.SkoleNavn != null ? $" SkoleNavn: {g.SkoleNavn} - Periode: " : "")
                                @(g.SkoleStart == null || g.SkoleEnd == null
                                    ? "Afventer din leder"
                                    : $"{g.SkoleStart} til {g.SkoleEnd}")
                            </li>                                                                    
                            </li>
                        }
                        
                    </ul>
                }

            </div>  

            <div class="dashboard-card">
                <h5 class="card-title">Aktive Delmål</h5>
                <p>Her kan du se dine delmål der er begyndt men ikke afsluttet</p>
                @if (_needAction != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _needAction)
                        {
                            <li style="cursor: pointer">
                                Delmål: @g.GoalTitle - Status: @g.Status
                            </li>
                        }
                    </ul>
                }
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Kommende Kurser</h5>
                @if (_futureCourses != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _futureCourses)
                        {
                            <li style="cursor: pointer">
                                Titel: @g.Title - Lokation: @g.Location - Start: @g.StartDate
                            </li>
                        }
                    </ul>
                }

            </div>
        }
        
        @if (_currentUser?.Rolle == "Kok")
        {
            <div class="dashboard-card">
                <h5 class="card-title">Velkomst Boks</h5>
                <p>Velkommen til din side @_currentUser?.FirstName</p>
                <p>Tak, fordi du engagerer dig i dine elev-kolleager</p>
            </div>
            
            <div class="dashboard-card">
                <h5 class="card-title">Aktive Delmål</h5>
                <p>Her kan du se delmål, som du kan hjælpe en kollega med at få færdiggjort</p>
                @if (_inProgress != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _inProgress)
                        {
                            <li style="cursor: pointer">
                                Delmål: @g.FullName - @g.GoalTitle
                            </li>
                        }
                    </ul>
                }
            </div>
        }
        
        else if (_currentUser?.Rolle == "Køkkenchef")
        {
            <div class="dashboard-card">
                <h5 class="card-title">Kommende Kurser</h5>
                <p>Oversigt over kurser det næste kvartal</p>
                @if (_currentCourses != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _currentCourses)
                        {
                            <li style="cursor: pointer">
                                Kursusnavn: @g.Title - Lokation: @g.Location - Start: @g.StartDate
                            </li>
                        }
                    </ul>
                }
            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Elever ude af huset</h5>
                <p>Her kan du se, hvornår dine elever er på skole eller på kursus</p>
                @if (_outOfHouse != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _outOfHouse)
                        {
                            <li style="cursor: pointer">
                                Navn: @g.FullName - Startdato: @g.StartDate - Slutdato: @g.EndDate (@g.GoalTitle)
                            </li>
                        }
                    </ul>
                }

            </div>

            <div class="dashboard-card">
                <h5 class="card-title">Manglende kurser</h5>
                @if (_missingCourses != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _missingCourses)
                        {
                            <li>
                                Navn: @g.FullName - Kursus: @g.GoalTitle
                                <button @onclick="() => OpenModal(g)" class="btn-approve">Tilmeld kursus</button>
                            </li>
                        }
                    </ul>
                }

            </div>
            <div class="dashboard-card">
                <h5 class="card-title">Afventende godkendelser</h5>
                @if (_missingApproval != null)
                {
                    <ul class="list-reset">
                        @foreach (var g in _missingApproval)
                        {
                            <li @key="g.GoalId">
                                Navn: @g.FullName - Delmål: @g.GoalTitle
                                <button @onclick="() => ConfirmGoal(g)" class="btn-approve">Godkend mål</button>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Du har klaret alle dine opgaver... </p>
                }
            </div>
        }
    </div>
}

<ModalDialog @ref=_kursusModal Title="Ledige kurser">
    <div class="kursus-list">
        @if (_matchingCourses.Any())
        @foreach (var kursus in _matchingCourses)
        {
            <p>@kursus.Title @kursus.Location @kursus.Participants @kursus.MaxParticipants @kursus.StartDate <button @onclick="() => TilmeldKursus(kursus)">Tilmeld kursus</button></p>
        }
        else
        {
            <p>Kurser mangler fra HR...</p>
        }
    </div>
</ModalDialog>


@code {

    private bool _loading = true;

    
    private BrugerLoginDTO _currentUser;

    //Elev instant variablER
    private List<GoalNeedActionDTO> _needAction; //Indeholder liste med delmål, hvor eleven mangler godkendelse
    private List<FutureSchoolDTO> _futureSchool; //Indeholder liste med kommende skoleophold
    private List<KursusKommendeDTO> _futureCourses; //Indeholder liste med tilmeldte kurser

    //Kok instans variabelER
    private List<StartedGoalsDTO> _inProgress; //Indeholder liste med delmål der er startet men ikke godkendt

    //Køkkenchef instans variabler
    private List<StartedGoalsDTO> _missingApproval; //Indeholder liste med delmål der mangler godkendelse
    private List<KursusKommendeDTO> _currentCourses; //Indeholder liste med kommende kurser
    private List<KursusManglendeDTO> _missingCourses; //Indeholder liste med manglende kurser
    private List<OutOfHouseDTO> _outOfHouse; //Indeholder liste med elever der er ude af huset hvilke dage

    //Modal dialog
    private ModalDialog _kursusModal { get; set; }
    private List<KursusKommendeDTO> _matchingCourses = new();

    //refacor!!
    private KursusManglendeDTO? _currentMissingCourse;



    protected override async Task OnInitializedAsync()
    {
        _currentUser = await AuthService.GetBruger();

        if (_currentUser == null)
        {
            navMan.NavigateTo("login/");
            return;
        }

        if (_currentUser.Rolle == "HR")
        {
            navMan.NavigateTo("dashboard");
        }
        
        if (_currentUser.Rolle == "Elev")
        {
            //Henter delmål der mangler action fra kok eller leder  
            _needAction = await IGoalService.GetNeedActionGoals(_currentUser.Id);
            _futureSchool = await IGoalService.GetFutureSchools(_currentUser.Id);
            _futureCourses = await IKursusService.GetFutureCoursesByStudentId(_currentUser.Id);
        }

        if (_currentUser.Rolle == "Kok")
        {
            _inProgress = await IGoalService.GetStartedGoals(_currentUser.HotelId);
        }

        if (_currentUser.Rolle == "Køkkenchef")
        {
            //Henter manglende godkendelser for køkkenchef
            _missingApproval = await IGoalService.GetAwaitingApproval(_currentUser.HotelId);
            //Henter aktuelle kurser fra HR
            _currentCourses = await IKursusService.GetFutureCourses();
            //Henter manglende kurser
            _missingCourses = await IGoalService.GetMissingCourses(_currentUser.HotelId);
            //Elever ude af huset
            _outOfHouse = await IGoalService.GetOutOfHouse(_currentUser.HotelId);
        }
        _loading = false;
    }

    //Mangler fejlmeddelser
    private async Task ConfirmGoal(StartedGoalsDTO goalDto)
    {
        var success = await IGoalService.ConfirmGoal(goalDto.PlanId, goalDto.ForløbId, goalDto.GoalId);

        if (goalDto != null)
        {
            _missingApproval = _missingApproval.Where(g => g.GoalId != goalDto.GoalId).ToList();
            StateHasChanged();
        }
    }

    //Skal laves om!
    private async Task TilmeldKursus(KursusKommendeDTO kursus)
    {
        var userDto = new KursusDeltagerListeDTO
        {
            Id = _currentMissingCourse.Id,       
            Navn = _currentMissingCourse.FullName,  
            Hotel = _currentMissingCourse.Hotel     
        };

        await IKursusService.AddStudentToCourse(userDto, kursus.KursusId);
        _kursusModal.Close();
        _missingCourses = _missingCourses.Where(k => k.Id != _currentMissingCourse.Id).ToList(); //virker ikke korrekt?
    }

    private async Task OpenModal(KursusManglendeDTO kursusManglendeDto)
    {
        _currentMissingCourse = kursusManglendeDto;
        _matchingCourses = _currentCourses.Where(k => k.CourseCode == kursusManglendeDto.CourseCode).ToList();
        _kursusModal.Open();
    }
}
    