@using Core;

@inject IGoal GoalService;
@inject IKursus IKursusService;
@inject NavigationManager navMan;

@page "/kursusoversigt"
<h3>Kursusoversigt</h3>

<table>
    <tr>
        <th>Titel</th>
        <th>Lokation</th>
        <th>Instruktør</th>
        <th>Start dato</th>
        <th>Slut dato</th>
    </tr>
    @foreach (var kursus in alleKurser)
    {
        <tr>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.Title</td>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.Location</td>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.InstructorName</td>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.StartDate</td>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.EndDate</td>
        </tr>
    }
</table>

@code {

    
    private List<Kursus> alleKurser;
    
    protected override async Task OnInitializedAsync()
    {
        alleKurser = await IKursusService.GetAllCourses();
    }
    
    private void NavigateToKursus(int kursusId)
    {
        navMan.NavigateTo($"kursuspage/{kursusId}");
    }
}