@using Core;

@inject IGoal IGoalService;
@inject IKursus IKursusService;
@inject NavigationManager navMan;

@page "/kursusoversigt"
<h3>Kursusoversigt</h3>

@foreach (var x in alleKurser)
{
    <p>@x.Title</p>
}

<!--
<table>
    <tr>
        <th>Titel</th>
        <th>Semester</th>
        <th>Status</th>
    </tr>
    @foreach (var kursus in alleKurser)
    {
        <tr>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.Title</td>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.Semester</td>
            <td @onclick="@(() => NavigateToKursus(kursus.Id))">@kursus.Status</td>
        </tr>
    }
</table>

-->

@code {

    
    private List<Kursus> alleKurser;
    
    protected override async Task OnInitializedAsync()
    {
        alleKurser = await IKursusService.GetAllCourses();
    }

    /*
    private void NavigateToKursus(int kursusId)
    {
        navMan.NavigateTo($"kursusoverblik/{kursusId}");
    }
    */

}